{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block title %} 所有文章 {% endblock title %}

 {% block css %}
<link href="{% static 'css/4-col-portfolio.css' %}" rel="stylesheet" type="text/css">
 {% endblock css %}

{% block content %}

     <!-- Page Heading -->
    <div style="display: block;width: 100%;margin-left: 15px;">
      <h1 class="my-4">所有文章
        <small>All articles</small>
      </h1>
    </div>

    {% for article in  articles %}

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="{{ article.get_absolute_url }}" ><img class="card-img-top" src="/media/{{ article.article_img }}" alt="" style="width: 253.4px;height:200px;"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
              </h4>
              <p class="card-text"> {{ article.content | safe | truncatechars_html:40 }}</p>
                <span class="fa-stack fa-sl" style="font-size: 10px;display: inline-block;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-tag fa-stack-1x fa-inverse" ></i>
            </span>
            <span>{{ article.tag }}</span>
            </div>
          </div>
        </div>



    {% endfor %}

{% endblock content %}